{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KAMPS ChatBot</title>
    <!-- Latest compiled and minified CSS -->
{#    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="{% static 'kamps.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>
    <div class="container clearfix">
        <div class="chat">
            <div class="header-box">
                <img src="{% static '/img/chatbot.png' %}" id="chatbot">
                <h1>KAMPS: The Deutsche Bank Chatbot</h1>
            </div>
            <div class="chat-history" id="msg-list-div" >
                <div id="wrapper">
                <ul id="msg-list" class="chat-ul">
                    <li class="clearfix">
                                <div class="message-data">
                                    <img src="{% static '/img/deustche_bank_avatar.png' %}" alt="db" class="avatar" />
                                    <span class="message-data-name"> KAMPS </span>
                                </div>
                                <div class="message me-message">
                                    <div> Hello, valued Deutsche Bank employee, what can I do for you today?</div>
                                    <div class="legend"><legend class="message-data-time"></legend></div>
                                </div>
                            </li>
                    {% for obj in chat %}
                        {% if obj.user == request.user %}
                            <li class="clearfix">
                                <div class="message-data align-right">
                                    <span class="message-data-name">{{ obj.user }} </span>
                                    <img src="{% static '/img/user.png' %}" alt="user" class="avatar avatar_user"/>
                                 </div>
                                <div class="float-right message you-message">
                                    <div>{{ obj.message }}</div>
                                    <div class="legend"><legend class="message-data-time">{{ obj.created }}</legend></div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <div class="message-data align-left">
                                    <img src="{% static '/img/deustche_bank_avatar.png' %}" alt="db" class="avatar" />
                                    <span class="message-data-name"> KAMPS </span>
                                </div>
                                <div class="float-left message me-message">
                                    <div>{{ obj.reply }}</div>
                                    <div class="legend"><legend class="message-data-time">{{ obj.created }}</legend></div>
                                </div>
                            </li>

                        {% endif %}
                    {% empty %}

                    {% endfor %}


                    <script>
                        document.body.scrollTop = document.body.scrollHeight;
                    </script>
                </ul>
            </div>
            </div> <!-- end chat-history -->

         <div class="chat-box">
             <form id="chat-form" method="post" action="/post/">
                 <div id="chat-bottom" class="input-group">
                     <input style="font-size:20px" type="text" id="chat-msg" name="chat-msg" class="form-control" placeholder="Type your message here..." style="text-decoration-color: grey"/>
                     <span class="input-group-btn">
                            <input class="btn btn-default airplane"  id="send" value="Send" type="image" src="../static/img/airplane.png"/>
                     </span>
                 </div>
             </form>
         </div>

        </div> <!-- end chat -->
    </div>

</body>
<script src="{% static 'chat.js' %}"></script>
</html>