@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');
/*http://codepen.io/drehimself/pen/KdXwxR?utm_source=bypeople
http://nicolasgallagher.com/pure-css-speech-bubbles/demo/*/


.header-box{
    position: fixed;
    z-index: 1;
    top: 0px;
    width: 100%;
    margin: -5px -8px -5px -8px;
    background: darkblue;
    border-radius: 0px;
    height: 65px
}

*, *:before, *:after {
    box-sizing: border-box;
}
.chat .chat-history{
    padding: 150px 150px 50px;
    border-bottom: 50px solid white;
}
.chat .chat-history .message-data {
    margin-bottom: 20px;
}
.chat .chat-history .message-data-time {
    color: black;
    padding-left: 0px;
}
.message-data-time{
    /*color: #39CCCC;*/
    font-size: small;
    float: right;
    padding-right: 0%;
}
.chat .chat-history .message {
    color: white;
    font-size: 20px;
    padding: 20px 15px 10px;
    line-height: 15px;
    border-radius: 5px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}

.legend{
    padding-bottom: 18px;
}

/*.chat .chat-history .message{*/
    /*color: white;*/
    /*font-size: 20px;*/
    /*padding-left: 0%;*/
    /*padding-right: 5%;*/
    /*!*padding: 18px 20px;*!*/
    /*line-height: 26px;*/
    /*border-radius: 5px;*/
    /*margin-bottom: 30px;*/
    /*width: 90%;*/
    /*position: relative;*/
/*}*/
.chat .chat-history .message:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #39CCCC transparent;
    display: block;
    width: 0;
}
.chat .chat-history .you-message {
    background:  royalblue;
    color:#FFFFFF;
    padding-left: 20px;
    word-wrap: break-word
}
.chat .chat-history .me-message {
    background: lightslategrey;
    padding-left: 20px;
    word-wrap: break-word
}

/*Little triangle at top of other user*/
.chat .chat-history .me-message:after {
    border-color: lightslategray transparent;
    /*right: 100px;*/
    top: -15px;
    left: 20px;
    bottom:auto;
}

/*Little triangle at top of current user*/
.chat .chat-history .you-message:after {
    border-color: royalblue transparent;
    right: 20px;
    top: -15px;
    left: auto;
    /*bottom:auto;*/

}


.chat .chat-message {
    padding: 0px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

.chat-ul li{
    list-style-type: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

float-left{
    float: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.you {
    color:  #39CCCC;
    font-size: 20px;
}

.me {
    color: #FF851B;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    padding-left: 100px;
    font-family: "Raleway",sans-serif;
}


#chat-msg {
    width: 90%;
    height: 40px;
    margin: 25px 10px 20px 20px;
    border-radius: 5px;
    float:left;
}

.chat-box{
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: -5px -7px -5px -8px;
    background: darkblue;
    border-radius: 0px;
    height: 100px
}


#wrapper{
    padding: 0px 50px 50px 50px;
    /*background-color: #d7e9f1;*/
}

#msg-list{
    margin-top:-60px;

}

.avatar{
    width:25px;
    height:25px;
}

.avatar_user{
    width:35px;
    height:35px;
}

.airplane{
    margin-top: 22px;
    width:40px;
    height:40px;

}

#chatbot{
    margin: 15px 0 0 30px;
    height:40px;
    width:50px;
    float: left;
}

body{
    /*background-image: url("../static/img/chat-background.png");*/
    background-image: url("../static/img/city5.jpg");

}